extends layout

block content      
  div(class="container")
    
    form(action="/create_process", method="post")
      p(style="text-align:center;") new_title
        <br><br>
        input(type="text",placeholder="new_title",
          name="new_title", style="width:70%")
      p(style="text-align:center;") new_description
        <br><br>
        textarea(id="create_text", placeholder="new_description",
        style="width:70%; height:230px", name="new_description")
        <br>
        input(type="submit", value="create")


  




  
      

