extends layout

block content     
  div(class="container")
    div(class="jumbotron" style="height:80%")
      h1(class="text-center") BOARD
      p(class="text-center") v 1.0.0
      hr(class="my-4")
      p(class="text-center") It uses for studying and test any function
      p(class="text-center")
        a(class="btn btn-primary btn-lg" href="https://github.com/terajh/BOARD" role="button") terajoo's github
  




  
      

