extends layout


block content
  div(class="container")
    table(class="table")
      thead 
        tr
          th email
          th created time
          th nickname
      tbody
        -for(var i=0;i<title.length;i++)
          tr
            td #{title[i].email}
            td #{title[i].created}
            td #{title[i].nickname}
  hr  



















  
      

