/* body {
    padding: 0px;
    margin: 0px;
    height: 400px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container>header {
    background-color: red;
}

.container>header>a {
    position: relative;
    right: 50%;
    margin-bottom: 6px;
    background-color: khaki;
    border: 1px solid blueviolet;
}


}
a {
    color: #00B7FF;
}
.container {
    display: flex;
    flex-direction: column;
    height: 400px;
}
header {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-left: 20px;
}
footer {
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
}
.content {
    display: flex;
}
.content nav {
    padding-right: 20px;
    padding-left: 5px;
    height: 600px;
}
.content aside {
    text-align: center;
}
nav,
aside {
    flex-basis: 150px;
    width: 15%;
    height: 600px;
}
main {
    width: 80%;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    padding: 8px;
    padding-bottom: 0px;
    height: 600px;
}
#create_text {
    height: 100px;
} */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'Nanum Gothic';
}

* hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 0;
}

a {
    color: #00B7FF;
}

.navbar {
    background-size: cover;
}

.jumbotron {
    background-image: url('/images/space.jpg');
    background-size: cover;
    text-shadow: black 0.2em 0.2em 0.2em;
    color: whitesmoke;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #cccccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""2018""\2019";
}

blockquote:before {
    color: #cccccc;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #cccccc;
    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}


/*
@media (max-width: 767px) {
    #login-dropdown-menu :hover or focus {
        color: #ffffff;
    }
}
*/